@font-face {
    font-family:PaletteMosaic;
    src: url(/CSS/Fonts/PaletteMosaic-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    background-image:url ;
}

h1 {
    color: rgb(205, 144, 255);
    font-family:"PaletteMosaic";
    text-align: center;
    text-transform:uppercase;
}
h2{
    color:rgb(0, 17, 255);
    margin: 10px 20px 10px 20px;
    border: olivedrab 2px;
    border-style: dashed;
    box-shadow: orchid 0px 10px 10px;
    text-shadow: tomato 0px 10px 10px;
    

}
img {height: 100%;
}



#ASD {
    color: green;
}
#imgid1 {
    position: fixed;
    top: 10px;
    width: 40px;
    height: 20px;

}



.kecske {color: rgb(0, 247, 255);
}
.name {
    color:lawngreen;
    text-transform: uppercase;
}
.img{
    background-color: olivedrab;
    height: 300px;
}
.img2{
    background-color: rgb(25, 0, 255);
    height: 300px;
}







p {
    color: rgb(0, 0, 0); 
    font-family: 'MonteCarlo', cursive;
    font-size: 20px;
}
