@font-face {
    font-family:PaletteMosaic;
    src: url(/CSS/Fonts/PaletteMosaic-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    background-image:url(/IMG/LAO2.jpg);
    background-repeat: no-repeat; 
}



h2{
    color:rgb(0, 17, 255);
    margin: 10px 20px 10px 20px;
    border: olivedrab 2px;
    border-style: dashed;
    box-shadow: orchid 0px 10px 10px;
    text-shadow: tomato 0px 10px 10px;
    
    
}
img {height: 100%;
}



#ASD {
    color: green;
}
#imgid1 {
    position: fixed;
    top: 10px;
    width: 40px;
    height: 20px;
    
}
#login-text{
    background-color: white;
}



.kecske {color: rgb(0, 247, 255);
}
.name {
    color:lawngreen;
    text-transform: uppercase;
}
.img{
    background-color: olivedrab;
    height: 300px;
}
.img2{
    background-color: rgb(25, 0, 255);
    height: 300px;
}
div.login-div{
    display: inline-block;
    padding: 5px;
    box-shadow: 0 0 2px teal;
}
.login-div input {
    display: block;
}
.login-div input[class="form-control"]{
    border: blue 5px;
    visibility:visible;
}

.form-group{
    background-color:gray ;
}





p {
    color: rgb(0, 0, 0); 
    font-family: 'MonteCarlo', cursive;
    font-size: 20px;
}
