@font-face {
    font-family:PaletteMosaic;
    src: url(/CSS/Fonts/PaletteMosaic-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1 {
    color: rgb(205, 144, 255);
    font-family:"PaletteMosaic";
    text-align: center;
    text-transform:uppercase;
}

p {
    color: cyan; 
    font-family: 'MonteCarlo', cursive;
    font-size: 100px;
}

img {
    width: 200px;
    height: 200px;
}